<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto 12</title>
</head>
<body>
    <h2>Punto 12: Calcular Tiempo de caida</h2>

    <h2>El tiempo de caida de <span th:text="${altura}"></span> metros es: <span th:text="${resultadoFinal}"></span> <span th:text="${mensaje}"></span></h2>

    <a href="home">Volver al menu</a>
</body>
</html>